/* 👇👇👇 SCROLL DOWN TO THE "ADD YOUR FORM STYLES BENEATH" comment (line 25) 👇👇👇*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding: 30px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

/* 👇👇👇  ADD YOUR FORM STYLES BENEATH  👇👇👇*/

#sign-in {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content {
  display: flex;
  gap: 30px;
}

form {

  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #a9a9a9;
  padding: 20px;
}

.form-header {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.form-input-control {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
 .form-submit-control { 
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
 }

 .form-checkbox-control { margin: 10px 0;}

 .subtext {
  color: #a9a9a9;
  font-weight: unset;
}

select#state { 
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;
}

.form-radio-control { margin: 5px 0;}


#sign-in,
#sign-up {
  width: 100%;
}

#sign-up {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-group-horizontal-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.form-input-control {
  flex: 1;
}

.form-input-control select {
  width: 100%; 
}


a {
  color: #335eea;
  text-decoration: none;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}

input[type="submit"] {
  width: unset;
  height: unset;
  padding: 14px 20px;
  background: #335eea;
  color: white;
  font-size: 18px;
  border: 1px solid #335eea;
  border-radius: 8px;
  appearance: none;
  outline: none;
  clear: left;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #294bbb;
}


